.hero__section {
  background-color: #014e56;
  position: relative;
  .about-img {
    position: absolute;
    bottom: 0px;
    right: 0;
  }
}
.hero__section__content {
  position: relative;
  padding-top: 129px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 84px;
  h1 {
    font-family: Livvic;
    font-size: 64px;
    font-weight: 700;
    line-height: 100px;
    width: 100%;
    color: #fff;
    z-index: 2;
  }
  .disk__img {
    position: absolute;
    left: -410px;
    z-index: 1;
  }
  span {
    font-family: Livvic;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    color: #f67e7e;
  }
  .line {
    padding-bottom: 40px;
  }
  p {
    padding-bottom: 120px;
    font-family: Livvic;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    // width: 735px;
    width: 100%;
    color: #fff;
  }
  .disk__bottom {
    position: absolute;
    right: 0px;
  }
}

// respansive

@media (max-width: 1035px) {
  .disk__img {
    display: none;
  }
  .line {
    display: none;
  }
  .hero__section__content {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;

    .disk__bottom {
      left: 0;
      right: 0;
      width: 250px;
    }
  }
}
@media (max-width: 660px) {
  .hero__section__content {
    h1 {
      font-size: 40px;
      font-weight: 700;
      line-height: 40px;
      width: 100%;
      span {
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
      }
    }
    p {
      font-size: 15px;
      font-weight: 600;
      line-height: 28px;
    }
  }
}
@media (max-width: 390px) {
  .hero__section__content {
    h1 {
      width: 100%;
    }
  }
}
